<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>https://github.com/benoit-pereira-da-silva</string>
	<string>http://goo.gl/5Tfwo</string>
	<string>http://pereira-da-silva.com</string>
	<string>http://jonctions.com</string>
	<string>http://secouchermoinsbete.fr</string>
</array>
</plist>
